@-webkit-keyframes slideInRightFood {
  0% {
    transform: translate3d(215%, 0, 0);
    opacity: 0;
  }
  to {
    transform: translateZ(0);
    opacity: 0.8;
  }
}
@keyframes slideInRightFood {
  0% {
    transform: translate3d(215%, 0, 0);
    opacity: 0;
  }
  to {
    transform: translateZ(0);
    opacity: 0.8;
  }
}
@-webkit-keyframes slideInRightUtensils {
  0% {
    transform: translate3d(250%, 0, 0);
    opacity: 0;
  }
  to {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slideInRightUtensils {
  0% {
    transform: translate3d(250%, 0, 0);
    opacity: 0;
  }
  to {
    transform: translateZ(0);
    opacity: 1;
  }
}
@-webkit-keyframes slideInRight {
  0% {
    transform: translate3d(180%, 0, 0);
    opacity: 0;
  }
  to {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slideInRight {
  0% {
    transform: translate3d(180%, 0, 0);
    opacity: 0;
  }
  to {
    transform: translateZ(0);
    opacity: 1;
  }
}
@-webkit-keyframes slideInUp {
  0% {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
  to {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slideInUp {
  0% {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
  to {
    transform: translateZ(0);
    opacity: 1;
  }
}
@-webkit-keyframes slideInUpDelay {
  0% {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
  40% {
    transform: translate3d(0, 80%, 0);
    opacity: 0.3;
  }
  to {
    transform: translateZ(0);
  }
}
@keyframes slideInUpDelay {
  0% {
    opacity: 0;
    transform: translate3d(0, 150%, 0);
  }
  30% {
    transform: translate3d(0, 90%, 0);
    opacity: 0;
  }
  40% {
    transform: translate3d(0, 85%, 0);
    opacity: 0;
  }
  70% {
    transform: translate3d(0, 50%, 0);
    opacity: 0.2;
  }
  to {
    transform: translateZ(0);
    opacity: 1;
  }
}
@-webkit-keyframes upDown {
  0% {
    transform: translateZ(0);
    opacity: 1;
  }
  60% {
    transform: translate3d(0, 100%, 0);
    opacity: .1;
  }
  to {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes upDown {
  0% {
    transform: translateZ(0);
    opacity: 1;
  }
  60% {
    transform: translate3d(0, 100%, 0);
    opacity: .1;
  }
  to {
    transform: translateZ(0);
    opacity: 1;
  }
}